@import "variables";
@import "mixins";
@import "reboot";

header {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $gray-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.login-btn-header {
  @include btnStyle($gray-dark, 80px);
}

.register-btn-header {
  @include btnStyle($primary-color, 80px);
}
